.navigation {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;

    a {
        font-size: 1.5rem;
    }
}
.outlet-container {
    height: calc(100vh - 3rem);
    overflow-y: auto;
    overflow-x: hidden;
}